@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    font-family: "Roboto";
}

header{
    background: #03a9f4; 
    text-align: center;
}

.logo {
    color: #fff;
    font-family: Anton;
    font-size: 2em;
}

header input {
    font-size: 20px;
    margin: 20px 0;
}

.news_item{
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid lightgray;
}